<section class="reader">

  <app-reader-nav
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (goFirst)="goFirst()"
    (goPrev)="goPrev()"
    (goNext)="goNext()"
    (goLast)="goLast()">
  </app-reader-nav>

  <div class="reader-scroll">
    <div class="page-canvas" (click)="onPageClick($event)">
      <img [src]="currentPageUrl()" [alt]="'Page ' + (currentPage() + 1)" class="page-img">
    </div>
  </div>

  <app-reader-nav
    [currentPage]="currentPage()"
    [totalPages]="totalPages()"
    (goFirst)="goFirst()"
    (goPrev)="goPrev()"
    (goNext)="goNext()"
    (goLast)="goLast()">
  </app-reader-nav>

</section>
