<section class="home">
  <div class="home-inner">

    <div class="home-logo">
      <img src="/logo.png" alt="Before the Storm" class="logo-img">
    </div>

    <div class="home-content">
      <div class="cover-art">
        <img src="/cover.png" alt="Cover Art" class="cover-frame"/>
      </div>
      <div class="home-info">
        <p class="home-synopsis">
          В глубинах Туманного леса сокрыто множество тайн. Но даже такой мрачный лес охраняется защитниками природы:
          друидами и жрецами богини плодородия. Октавия - одна из них. Однако огонь, преследующий ее в кошмарах,
          раз за разом напоминает эльфийке о потерянном доме. Узнать себя и тайны леса она сможет, только отправившись
          в погоню за давно забытым прошлым.
          <br>
          <br>
          Узнайте предысторию Октавии, которая родилась из любви к известной ролевой игре - Baldur's Gate 3.
        </p>
        <div class="home-actions">
          <button class="cta-btn" (click)="navigateTo('reader')">ЧИТАТЬ</button>
        </div>
      </div>
    </div>

  </div>
</section>
